<h1>Региональный каталог</h1>
<h2>{{ region.name }}</h2>
<div>
    {{ suffixBuyInTheСity }}
</div>
<div>
    {{ suffixDeliveryAtTheCity }}
</div>
<div>
    {{ suffixCalculateDeliveryToTheCity }}
</div>

