<h2>категория</h2>
<div>шаблон для категории</div>

<h3>хлебные крошки</h3>

<h3>фильтры</h3>
<h3>фильтры</h3>

<h3>подкатегории (как показывать слева/сверху/группировать и показывать с товарами )</h3>
<h3>товары (сколько показывать?)</h3>
